.user-courses{
    background-color: var(--bg-primary);
    padding: 30px 60px;
    box-shadow: 0 0 5px 3px #ccc;
}

.course-container{
    overflow: hidden !important;
}

.user-courses h2{
    margin-bottom: 40px;
}

.title-course-details{
    font-weight: 600;
    margin: 0;
}

.about-course{
    text-wrap: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

