:root{
    --primary-color: #f8f8f8;
    --secondary-color: #f97316;
    --tertiary-color: #10b981;
    --text-color: #4b5563;
    --hover-color: #ea580c;
    --bg-primary: #f9731610;
    --bg-secondary: #6e2828fd;
}

*{
    padding: none;
    margin: none;
    box-sizing: border-box;
    
}

.container-loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* loading */

.loader {
  width: 50px;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     var(--secondary-color) 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     var(--secondary-color) 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}