.my-navbar{
    position: fixed !important;
    width: 100vw;
    top: 0;
    z-index: 5;
    background-color: var(--bg-secondary) !important;
    box-shadow: 0 0 3px 1px #6e2828fd;
}

.title-navbar{
    color: var(--primary-color) !important;
    text-shadow: 0 0 5px var(--tertiary-color);
}

.logo-brand{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.navbar-link{
    color: var(--secondary-color);
    text-decoration: none;
    padding: 5px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.navbar-link:hover{
    scale: 1.1;
}

.navbar-link:active{
    scale: 1;
}

.active{
    color: var(--primary-color);
    border-bottom: 2px solid #1f1f1f;
    font-weight: bolder;
}

.offcanvas-navbar{
    background-color: var(--text-color) !important;
}

.offcanvas-title{
    color: var(--primary-color) !important;
    text-shadow: 0 0 5px var(--text-color);
    margin: 20px 10px;
}

.my-navbar button{
    background-color: transparent;
    border: none;
}


@media screen and (max-width : 800px){
        .offcanvas-links{
            margin-top: 70px !important;
        }
}